svg{
    width: 20rem;
}
svg text{
    font-size: 5rem;
    stroke-width: 3;
   letter-spacing: 4px;
} 
 .text{
   stroke: rgb(165, 68, 4);
   animation: 3s infinite alternate stroke;
} 

@keyframes stroke{
   0%{
    fill: transparent;
    stroke: rgb(165, 68, 4);
    stroke-width: 3;
    stroke-dashoffset: 25%;
    stroke-dasharray: 0 32%;
   }
   50%{
    fill: transparent;
    stroke: rgb(165, 68, 4);
    stroke-width: 3;
   }
   80%,100%{
    fill: rgb(165, 68, 4);
    stroke: transparent;
    stroke-width: 3;
    stroke-dashoffset: 25%;
    stroke-dasharray: 32% 0;
   }
}
