.Menu,.hide{
    position: absolute;
    display: flex;
    align-items: end;
    flex-direction: column;
    gap: 4px;
     cursor: pointer;
}
.Menu span,.hide span{
     border-radius: 12px;
     width: 25px;
     height: 3px;
     background-color: rgb(231, 39, 39);   
}

.hide span:nth-child(2)
{
     transform:scale(0);
     opacity: 0;
}
.hide span:nth-child(1){
     transform: translate3d(0,7px,0) rotate(45deg) ;
  
}
.hide span:nth-child(3){
      transform: translate3d(0,-7px,0) rotate(-45deg);
}
.Menu:hover span:nth-child(2){
    width: 25px;
}
/* .hide{
    display: flex;
    align-items: end;
    flex-direction: column;
    gap: 4px;
     cursor: pointer;
}
.hide span{
     border-radius: 12px;
     width: 25px;
     height: 3px;
     background-color: rgb(231, 39, 39);
     
} */


